body
{
    /*background-image: url('../img/c.jpg');*/
    background-color: #eee;

    
}
img
{
    margin:10px 10px 5px 2px;
    width:90%;
    height:100%;
    position:relative;
    outline: 5px solide limeGreen;
    display:inline-block;
    text-align: center;
}

.b,.b1,.b2,.b3,.b4,.b5 
{
  background-color:black;
  border: 2px solid white;    
  color:white;
  font-size: 20px;
  text-align: center;
  padding:6px ;
  display: inline-block;
  margin: 5px 0px 5px 0px;
  width: 15%;
  height: 5%;
  text-decoration: none;    
    
  
 }


aside
{
    color:black;
    margin: 0px 50px 30px 58px;
    border:1px solid white;
    width: 24%;
    height: 55%;
    position:absolute;
    text-align: center;
    background-color: white;
}
.t
{
    
    margin:170px 20px 0px 60px;
    position:absolute;
}
.s
{
    margin:170px 20px 0px 60px;
    padding:5px;
    width: 150px;
    height: 30px;
}

.a3
{
    background-color: white;
    margin: 0px 450px 30px 390px;
    border: 1px solid white;
    width:65%;
    height:55%;
    position:absolute;
    text-align: center;

}

*
{
        border-radius: 10px;
        
}
      


 .x,.x1
 {

  background-color:gray;
  border: 2px solid white;    
  color:white;
  font-size: 20px;
  text-align: center;
  padding: 10px ;
  display: inline-block;
  margin: 160px 20px 5px 20px;
  width: 15%;
  height: 5%;
  text-decoration: none;    
    
 
 }     